@import "colors";

$headers: h6, h5, h4, h3, h2, h1;

@for $i from 1 through length($headers) {
  $header: nth($headers, $i);
  #{$header} {
    color: $primary-color;
    font-size: 0.7rem * $i;
    text-align: center;
  }
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 1rem;
}

a {
  color: $primary-color;

  &:hover {
    text-decoration: underline;
  }
}

iframe + a {
  color: transparent;
}

button, [type='button'], [type='reset'], [type='submit'] {
  background-color: $primary-color;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;

  &:hover {
    background-color: darken($primary-color, 10%);
  }

  &.link {
    background-color: transparent;
    color: $primary-color;
  }
}

p {
  margin-bottom: 0.5rem;
}


.app-img-container {
  position: relative;
  min-height: 100vh;
  overflow: hidden;

  .bg-image {
    position: absolute;
    z-index: 1;
    height: 100px;
  }

  .bg-image-1 {
    top: 20px;
    left: 20px;
  }

  .bg-image-2 {
    top: 20px;
    right: 20px;
  }

  .bg-image-3 {
    bottom: 20px;
    left: 20px;
  }

  .bg-image-4 {
    bottom: 20px;
    right: 20px;
  }

  .bg-image-5 {
    bottom: 50%;
    right: 20px;
  }
}

.main-content {
  position: relative;
  z-index: 10;
  /* Add padding if needed to prevent content from touching the edges */
  padding: 20px;
}
