@import "colors";

$headers: h6, h5, h4, h3, h2, h1;

@for $i from 1 through length($headers) {
  $header: nth($headers, $i);
  #{$header} {
    color: $primary-color;
    font-size: 1rem * $i;
  }
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 1rem;
}

a {
  color: $primary-color;

  &:hover {
    text-decoration: underline;
  }
}

iframe + a {
  color: transparent;
}

button, [type='button'], [type='reset'], [type='submit'] {
  background-color: $primary-color;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;

  &:hover {
    background-color: darken($primary-color, 10%);
  }
}

p {
  margin-bottom: 1rem;
}
